.container {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-12);
  max-width: 400px;
}

.dangerButton {
  padding: var(--base-size-12) var(--base-size-20);
  cursor: pointer;
  background: var(--bgColor-danger-emphasis);
  color: var(--fgColor-onEmphasis);
  border: none;
  border-radius: var(--borderRadius-medium);
  font-size: var(--text-body-size-medium);
  align-self: flex-start;
}

.successButton {
  padding: var(--base-size-12) var(--base-size-20);
  cursor: pointer;
  background: var(--bgColor-success-emphasis);
  color: var(--fgColor-onEmphasis);
  border: none;
  border-radius: var(--borderRadius-medium);
  font-size: var(--text-body-size-medium);
  align-self: flex-start;
}

.output {
  font-family: var(--fontStack-monospace);
  font-size: var(--text-body-size-small);
}

.description {
  font-size: var(--text-body-size-small);
  color: var(--fgColor-muted);
  margin: 0;
}
