name: Deploy docs

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: pages-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docs:
    name: Build Storybooks
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - run: npm ci
      - run: npm run docs:build
      - run: npm run docs:html:build
      - name: Merge into single site
        run: |
          mkdir -p _site
          cp -r packages/docs/storybook-static/* _site/
          cp -r packages/docs-html/storybook-static _site/html
      - uses: actions/upload-artifact@v6
        with:
          name: storybook-static
          path: _site/

  deploy:
    name: Deploy to Pages
    needs: build-docs
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: ${{ github.event_name == 'pull_request' && 'github-pages-preview' || 'github-pages' }}
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: storybook-static
          path: storybook-static
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: storybook-static
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
        with:
          preview: ${{ github.event_name == 'pull_request' }}
