name: Deploy docs

on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: pages-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-docs:
    name: Build docs site and storybooks
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npm run site:build
        env:
          BASE_PATH: ${{ github.event_name != 'pull_request' && '/storybook-addon-performance-panel/' || '' }}
      - run: npm run build-storybook -w @github-ui/examples-react
      - name: Merge into single site
        run: |
          mkdir -p _site/examples
          cp -r packages/website/dist/client/* _site/
          cp -r packages/examples-react/storybook-static _site/examples/react
      - uses: actions/upload-artifact@v6
        with:
          name: site
          path: _site/

  deploy:
    name: Deploy to Pages
    needs: build-docs
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: ${{ github.event_name == 'pull_request' && 'github-pages-preview' || 'github-pages' }}
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - uses: actions/download-artifact@v7
        with:
          name: site
          path: site
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
        with:
          preview: ${{ github.event_name == 'pull_request' }}
